.profile__activity {
  width: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 667px) {
  .profile__activity {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}