.profile__info {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 336px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 667px) {
  .profile__info {
  max-width: 282px;
  justify-content: center;
  margin: 23px 0 0;
  }
}